/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
// @import "skippr";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.fa-stack {
  color: #000000;
}

.carousel-item {
  height: 70vh;
}

.image1 {
  background-image: image-url("image1.jpg");
}
.image2 {
  background-image: image-url("image2.jpg");
}
.image3 {
  background-image: image-url("image3.jpg");
}
.image4 {
  background-image: image-url("image4.jpg");
}
.image5 {
  background-image: image-url("image5.jpg");
}

#container{
  height: 500px;
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 50%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #EEEEEE;
  // border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #FFFF88;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 0px;
  background: #fff;
  // border: 1px solid #000;
  border-top: none;
  height: 900px;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
}

.calender_previous {
  display:none;
}