/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
// @import "skippr";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// a:link { color: #000000	; }
// a:visited { color: #000000; }
// a:hover { color: #000000; }
// a:active { color: #000000; }

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.fa-stack {
  color: #000000;
}

.carousel-item {
  height: 70vh;
}

.image1 {
  background-image: image-url("asahi3.jpg");
  background-size: cover;
  background-position: center;
}
.image2 {
  background-image: image-url("tobi2.jpg");
  background-size: cover;
  background-position: center;
}
.image3 {
  background-image: image-url("cup2.jpg");
  background-size: cover;
  background-position: center;
}
.image4 {
  background-image: image-url("book2.jpeg");
  background-size: cover;
  background-position: center;
}
.image5 {
  background-image: image-url("bird2.jpg");
  background-size: cover;
  background-position: center;
}

#container{
  height: 500px;
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 50%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #EEEEEE;
  // border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #FFFF66;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 0px;
  background: #fff;
  // border: 1px solid #000;
  border-top: none;
  // height: 700px;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
}

.fa-trophy {
  color: #FFD700;
}

#menu span {
  // 基準位置
  position: relative;
}

.arrow_box {
  display: none;
  // 相対位置
  position: absolute;
  // 基準のspan一つを100%として、どれくらい下にずらすか
  top: 250%;
  left: -70%;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #FFCC00;
  color: #000;
  // 改行をなくしてやると、横幅を持つようになる
  white-space: nowrap;
  z-index: 2;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #FFCC00;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.fa-pen-clip {
  color: #FFD700;
}

.fa-envelope-open-text {
  color: #FFD700;
}

.fa-circle-plus {
  color: #FFD700;
}

.fa-users-between-lines {
  color: #FFD700;
}

.fa-user-pen {
  color: #FFD700;
}

.fa-sun {
  color: #FFD700;
}

.simple-calendar {
  color: #FFD700;
  font-weight: bold;
  .day {
  }

  .wday-0 {
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events { }
}

.profile-border {
  border: solid;
  border-color: #FFFF66;
  border-width: thick;
}

.title-color {
  background-color: #FFFF66;
}


.star-rating {
    position: relative;
    // width: 10em;
    height: 1em;
    font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  // 改行なしの記述
  white-space: nowrap;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}

.index-img {
	height: 250px;
	object-fit: cover;
}

 .show-img {
  height: 400px;
  object-fit: contain;
}