<!--dbの中には、自分が自分に対して行う、visitor_id: current_user.idの通知もnotification.checked = true(通知済み)として登録されているので、-->
<!--それ(自分が自分に対して行った通知)を表示させないようにする。-->
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <%= render notifications %>
      <!--binding.pry-->
    <%= paginate notifications %>
  <% else %>
    <p>通知はありません</p>
  <% end %>

<style>
  .pagination {
    text-align: center;
    width: 100%;
    margin: 20px auto;
    max-width: 200px;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #FFFF66;
    border-color: #FFFF00;
  }
</style>